.App{
    background-color:bisque;
    min-height: 100vh;
    padding-top: 2%;
}
.heading{
    margin:auto;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.heading h3{
    font-size: 22px;
}
.transaction-table,.stats-pieChart{
    margin: 5%;
}
  input[type="text"] {
    padding: .5%;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 15rem;
    margin-bottom: 1rem;
    background-color:palegreen;
}
  
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 15rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color:tomato;
  }
  
  table {
    width: 100%;
    border-collapse: collapse/separate;
    padding-bottom: 2rem; 
    background-color:palegreen;
  }
  
  th,
  td {
    padding: 0.5rem;
    border: 1px solid black !important;
    text-align: left;
  }
  button {
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem;
    background: transparent;
  }
  
  button:disabled {
    color: grey;
    cursor: not-allowed;
  }
.transaction-buttons{
    display: flex;
    justify-content: space-between;
}
.table-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
tbody img{
    width: 50px;
    height: 50px;
    mix-blend-mode: multiply;
}
th{
    text-align: center !important;
}

/* statistics & piechart styling */
.statistics{
  display: flex;
  justify-content: space-between;
}
.stats{
  width:45%;
}
.stats-month{
  display: flex;
  text-align: center;
  align-items: baseline;
}
.stats-month h5{
  font-size: 14px;
  padding-inline-start: 2%;
}
.stats-details{
  margin-top: 3%;
  padding: 3%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 65%;
  border-radius: 30px;
  background-color:palegreen;
}
.stats-details h4{
  text-align: left;
}
.stats-details h3{
  font-size: 22px;
}
